@import "../../variables.scss";

.orderContainer {
  margin: $distanceSmall;
  padding: $distanceSmall;
  width: 50%;

  border: 2px solid $highLight;
  border-radius: 10px;

  .productInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.2rem;
    padding-bottom: 0.2rem;
    width: 25%;
    border-bottom: solid 0.1px #7d3d00;
  }
}
