@import "../../variables.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $distanceLarge 4rem;
  text-align: center;

  .title {
    padding-bottom: $distanceSmall;
    width: 70%;

    color: $defaultTextColorMiddle;
    font-weight: 600;
    font-size: 24px;
  }

  .text {
    width: 70%;
    color: $defaultTextColorDark;
    font-weight: normal;
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: $distanceLarge $distanceMedium;

    .title {
      width: 100%;
    }
  }
}
