@import "../../variables.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttonPrimary {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 10rem;
  cursor: pointer;

  color: $highLight;
  background-color: rgba(81, 72, 64, 0.72);
  border-radius: 50px;
  border: 2px solid $highLight;
  outline: none;

  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.02em;

  transition: 0.5s;
}

.buttonPrimary:hover,
.buttonPrimary:focus {
  box-shadow: inset 0 0 0 2em rgba(52, 47, 42, 0.72);
}

.buttonSecondary {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 10rem;
  cursor: pointer;

  color: $defaultTextColorDark;
  background-color: $highLight;
  border: 2px solid $highLight;
  border-radius: 50px;
  outline: none;

  font-family: "Muli", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.02em;

  transition: 0.5s;
}

.buttonSecondary:hover,
.buttonSecondary:focus {
  box-shadow: inset 0 0 0 2em #e98325;
  border-color: #e98325;
}

@media screen and (max-width: 500px) {
  .buttonPrimary {
    margin-left: 0.5rem;
    margin-right: 2rem;
  }

  .buttonSecondary {
    margin-left: 2rem;
    margin-right: 0.5rem;
  }
}
