@import "../../variables.scss";

.container {
  text-align: center;
  padding-right: 4rem;
  padding-left: 4rem;

  img {
    width: 3rem;
    padding-top: $distanceMedium;
  }

  .title {
    padding-top: $distanceSmall;
    padding-bottom: $distanceSmall;
    font-size: 18px;
  }

  .description {
    line-height: 140%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding-right: $distanceMedium;
    padding-left: $distanceMedium;

    .title {
      width: 100%;
    }
  }
}
