@import "../../variables.scss";

.stepsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.75) 0%,
    #000000 10%,
    #000000 95%,
    rgba(0, 0, 0, 0.75) 100%
  );
  color: $defaultTextColorLight;

  .mainTitle {
    text-align: center;
    font-weight: 600;
    font-size: 22px;
  }
}
