@import "../../variables.scss";

.logoutContainer {
  align-self: flex-end;

  .logoutButton {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: $highLight;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    line-height: 125%;
    letter-spacing: 0.02em;
  }
}
