$distanceSmall: 1rem;
$distanceMedium: 1.5rem;
$distanceLarge: 2rem;

$highLight: #f29846;
$defaultBackgroundDark: #171716;
$defaultTextColorLight: #e5e5e5;
$defaultTextColorMiddle: #3e1e00;
$defaultTextColorDark: #312c2c;
